############################################
# OS / Editor
############################################
.DS_Store
Thumbs.db
*.swp
*.swo

.vscode/
.idea/

############################################
# Angular / Node
############################################
node_modules/
dist/
dist-ssr/
.angular/
.cache/
.tmp/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Angular Environment & Secrets
############################################
.env
.env.*
!.env.example

# Angular environment files (optional)
src/environments/environment*.ts

############################################
# Logs
############################################
*.log
